{% extends "base.htm" %}
{% block content %}
<div class="heading">
    Talklo
</div>
<div class="nav">

            <a href="{{url_for('contact')}}" ><button class="button-style-1"> contact us </button></a> |
            <a href="{{url_for('about')}}" ><button class="button-style-1"> about us</button></a> 
           
</div>
<div class="subheading">
    <p>
        Welcome to the intial release of application
    </p>
</div>
<div class='subheading'>
    <a href="{{url_for('login')}}"><button class="button-style-2">login</button></a>
</div>
{% endblock  %}